/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: purple;
}
.navbar-default{
	background-color: transparent;
	border: none;
}
.navbar-default .navbar-brand{
    color: #fff;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
	font-weight: bold;
}

.jumbotron{
	/*position: absolute;
	top: 0px;*/
	margin-top: -80px;
	color: white;
	padding-bottom: 10%;
	background-image: url(../img/portada.jpg);
	background-repeat: no-repeat;
}
.imagenes{

}
.titulo-texto1{
	margin-left: 10%;
	margin-top: 15%;

}
.texto1{
	margin-right: 60%;
	font-size: 1px;
}
.my-new-button-class{
	background: #2a5f22
}
.btn.focus, .btn:focus, .btn:hover {
    color: orange;
    text-decoration: none;
}
a{
	color: white;
}
.container-fluid{
	margin-top: -3%;
	background-color: white;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.imagen2{
	margin-left: 90px;
	height: 600px;
	margin-top: 5%;
}
.texto2{
	margin-top: 15%;
	text-align: justify;
	width: 40%;
}
.texto-imagen{
	display: flex;
}
.row{
	display: flex;
	margin-right: 10.5%;
	width: 60%;
	margin-left: 39%;
}
.col-md-4{
	margin-top: -23%;
}

.texto3{
	color: white;
	
	margin-left: 50%;
}
.imagen3{
	width: 100%;
	margin-bottom: -55%;
}
.seccion4{
	height: 500px;
	background: orange;
	margin-top: 51%;
}
